<div class="card">
    <div class="card-body">
        <h1>About</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore qui architecto corrupti ullam fuga voluptatum voluptate repellendus recusandae sapiente repudiandae non aliquid, voluptatibus
         error odit repellat labore quis reiciendis eligendi incidunt rem id delectus ratione asperiores? Excepturi cum aperiam nulla!
    </div>
</div>