<div class="jumbotron mt-4">
    <h1 class="display-4">Proyecto Blog de Notas NodeJS</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore exercitationem cupiditate sit a repellat aperiam
    accusamus maiores quia praesentium voluptate sunt. Magnam aspernatur obcaecati dolor tenetur ad aperiam minus dignissimos.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Ruta</a>
</div>